.header {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    padding: 20px 0px 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgb(0, 39, 0);
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    padding: 20px 0px 20px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.loading {
    color: white;
    font-size: 18px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.5);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.exchange-rate {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 255, 0, 0.5);
}

.updateInfoDiv {
    margin-top: 20px;
    font-size: 15px;
    color: rgba(0, 255, 0, 0.5);
}

.form-group {
    display: flex;
    gap: 10px; /* Space between items */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 10px; /* Space below the form group */
}

img {
    width: 20px;
}