html, body {
    height: 100%;
    margin: 0;
    place-items: center;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #e0e0e0;
    display: grid;
    place-items: center;
}